<header class="bg-gray-50 gap-4 border rounded-md p-4 w-full">
  <div class="flex flex-col justify-end items-center">
    <%= link_to podcast_episodes_path(podcast), class: "block w-32 overflow-hidden rounded-full", aria: {label: podcast.title} do %>
      <%= image_tag podcast.image.representation(resize_to_fit: [300, 300]), class: "w-full", width: 300, height: 300, decoding: "async" %>
    <% end %>
    <div class="text-center">
      <p class="text-xl text-gray-900">
        <%= link_to podcast.title, podcast_episodes_path(podcast) %>
      </p>
      <p class="mt-3 text-lg font-medium leading-8 text-slate-700"><%= podcast.subtitle %></p>
    </div>
    <%= link_to "اسأل الشيخ", contact_path, class: "btn-primary w-fit" %>
  </div>
</header>
