<h2 class="border-b bg-gray-800 text-white text-3xl w-full text-end p-4">التسجيل</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-4 w-full container mx-auto max-w-lg flex flex-col flex-end gap-2" }) do |f| %>
  <h3 class="text-2xl text-end p-4">تسجيل حساب جديد</h3>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-end">
    <%= f.label :email, "البريد الإلكتروني" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field text-end">
    <%= f.label :password,"كلمة المرور" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field text-end">
    <%= f.label :password_confirmation, "تأكيد كلمة المرور" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions text-end">
    <%= f.submit "تسجيل", class: "w-full btn-primary",data: {turbo: "_top"} %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>

