<div class=" bg-gray-100 rounded-md shadow w-full" data-controller="tab">
  <!-- Tabs -->
  <div class="flex flex-row-reverse rounded-md border-b border-amber-400 bg-gray-100 relative">
    <h4 class="top-0 flex-1 py-2 md:py-3 px-6 text-center text-sm md:text-md lg:text-lg font-medium focus:outline-none transition-colors duration-200 bg-gray-800 text-white">
      الفتاوى
    </h4>
    <% categorizations = Categorization.joins(:category).where(categorizations: { categorizable_type: 'Fatwa' }).select("DISTINCT category_id") %>
    <% categorizations.each_with_index do |categorization, index| %>
      <button
        data-tab-target="tab"
        data-action="click->tab#switch"
        data-tab-index="<%= index %>"
        class="flex-1 py-2 md:py-3 lg:px-4 whitespace-nowrap px-6 text-center text-sm md:text-md lg:text-lg font-medium focus:outline-none z-10 transition-colors duration-200 <%= index == 0 ? 'bg-white text-amber-600' : 'bg-gray-100 text-gray-700' %>"
        data-active-class="bg-white text-amber-600 border-x border-t border-amber-400 rounded-x-md rounded-t-md"
        data-inactive-class="bg-gray-100 text-gray-700"
      >
        <%= categorization.category.name %>
      </button>
    <% end %>
  </div>

  <!-- Panels -->
  <div class="bg-white">
    <div>
      <% categorizations.each_with_index do |categorization, index| %>
        <div
          data-tab-target="panel"
          data-tab-index="<%= index %>"
          class="flex flex-col justify-between px-3 py-4 <%= index == 0 ? '' : 'hidden' %>"
        >
          <% fatwas = categorization.category.fatwas.includes(:categorizations).order(created_at: :desc).limit(10) %>
          <% fatwas.each do |fatwa| %>
            <div
              class="flex items-center justify-between py-3 px-2 hover:bg-gray-100 hover:rounded-md cursor-pointer"
              data-fatwa-id="<%= fatwa.id %>"
            >
              <div class="flex space-x-4 rtl:space-x-reverse">
                <button class="text-amber-600 btn-ghost px-1" data-action="click->fatwa-list#copy">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-4 md:size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                  </svg>
                </button>
                <button class="text-amber-600 btn-ghost px-1" data-action="click->fatwa-list#bookmark">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-4 md:size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
                  </svg>
                </button>
                <button class="text-amber-600 btn-ghost px-1" data-action="click->fatwa-list#share">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-4 md:size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
                  </svg>
                </button>
              </div>
              <div class="text-right">
                <div class="text-lg font-medium text-gray-800" data-fatwa-title>
                  <%= fatwa.title %>
                </div>
                <div class="text-sm text-gray-600">
                  <%= fatwa.author %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>