<%= render partial: "components/navbar"%>
<%= render partial: 'components/newsbar', locals: { news_items: @news_items } %>
<div class="container mx-auto flex items-center justify-center border mt-4">
  <div class="container mx-auto px-4 bg-primary">
    <h1 class="text-end text-3xl font-bold mb-6">العقيدة الطحاوية 1 من بداية الكتاب - إلى قوله ولا شيء مثله</h1>
    <p class="text-md mb-8 text-end">
      ...الهِدَايَةُ الرَّبَّانِيَّةُ فِي شَرْحِ الْعَقِيدَةِ الطَّحَاوِيَّةِ عَقِيدَةُ أَهْلِ السُّنَّةِ وَالْجَمَاعَةِ بسم الله الرحمن الرحيم الحمد لله رب العالمين، والصلاة والسلام على أشرف الأنبياء والمرسلين؛ نبينا
    </p>
    <div class="flex justify-between items-center mb-6">
      <div class="flex justify-end items-center gap-3 rtl:space-x-reverse">
        <button class="p-2 border border-gray-600 rounded hover:rotate-[10deg] transition-transform duration-300">
          <%= inline_svg_tag "icons/share.svg", class: "size-5" %>
        </button>
        <button class="p-2 border border-gray-600 rounded hover:rotate-[10deg] transition-transform duration-300">
          <%= inline_svg_tag "icons/bookmark.svg", class: "size-5" %>
        </button>
        <button class="p-2 border border-gray-600 rounded hover:rotate-[10deg] transition-transform duration-300">
          <%= inline_svg_tag "icons/squares-plus.svg", class: "size-5" %>
        </button>
      </div>
      <div class="text-center mt-6">
        <button class="bg-amber-500 text-white px-6 py-2 rounded hover:rotate-3 transition-transform duration-300">المزيد</button>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/4 bg-white text-black">
    <div class="p-4">
      <div class="border-b border-gray-200 border">
        <h2 class="text-xl font-bold text-right mb-4 border px-4 py-3 bg-gray-100 text-gray-800">توحيد وعقيدة</h2>
        <ul class="text-right px-4">
            <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">العقائد</span>
            </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">الألوهية والربوبية</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">الأسماء والصفات</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">مذاهب وفرق</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">الإسلام والإيمان</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">الشفاعة والبدع</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">الشرك والكفر</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">فضائل العبادة</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">القدر</span>
          </li>
          <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
            <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
            <span class="group-hover:text-amber-500">صفات المنافقين</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render "episodes/podcast/frame", podcast: @podcast do %>
  <div class="pt-16 pb-12 sm:pb-4 lg:pt-12">
    <div class="divide-y divide-slate-100 sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
      <turbo-frame id="page_<%= @page.page %>" target="_top">
        <% if @page.prev %>
          <div class="py-10 sm:py-12 hidden first:block">
            <div class="lg:px-8">
              <div class="lg:max-w-4xl">
                <div class="flex justify-center mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                  <%= link_to pagy_url_for(@page, @page.prev), rel: "prev",
                    class: "flex animate-bounce items-center justify-center rounded-full bg-white p-2 shadow-lg text-pink-500 ring-1 ring-slate-900/5 focus:ring hover:text-pink-700 active:text-pink-900" do %>
                    <span class="sr-only">Load newer episodes</span>
                    <%= inline_svg_tag "icons/up_arrow.svg", class: "h-6 w-6" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= render @episodes %>
        <% if @page.next %>
          <%= tag.turbo_frame id: "page_#{@page.next}", src: pagy_url_for(@page, @page.next), loading: "lazy",
                data: {turbo_action: "replace", controller: "element", action: "turbo:frame-load->element#replaceWithChildren"} do %>
            <div class="py-10 sm:py-12 hidden last:block">
              <div class="lg:px-8">
                <div class="lg:max-w-4xl">
                  <div class="flex justify-center mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                    <%= link_to pagy_url_for(@page, @page.next), rel: "next",
                      class: "flex animate-bounce items-center justify-center rounded-full bg-white p-2 shadow-lg text-pink-500 ring-1 ring-slate-900/5 focus:ring hover:text-pink-700 active:text-pink-900" do %>
                      <span class="sr-only">Load older episodes</span>
                      <%= inline_svg_tag "icons/down_arrow.svg", class: "h-6 w-6" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </turbo-frame>
    </div>
  </div>
<% end %>
